@using HairSalon.Models;

<h3>Clients of @Model["stylist"].GetName()</h3>

@if (@Model["clients"].Count == 0)
{
  <h3>@Model["stylist"].GetName() does not have any clients yet!</h3>
}

<ol>
@foreach(var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
}
</ol>


@if(@Model["allSpecialties"].Count != 0)
{
  <h4>Add a specialty to this stylist:</h4>

  <form action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
    <label for='specialtyId'>Select a specialty</label>
    <select id='specialtyId' name='specialtyId' type='text'>

      @foreach (var specialty in @Model["allSpecialties"])
      {
        <option value='@specialty.GetId()'>@specialty.GetSpecialty()</option>
      }

    </select>
    <button type='submit'>Add this specialty</button>
  </form>
}
else
{
  <p>In order to assign specialties, you need to <a href='/specialties/new'>create one</a> first.</p>
}

@if(@Model["allSpecialties"].Count != 0)
{
  <h4>Currently @Model["stylist"].GetName() specializes in:</h4>

  <ul>
  @foreach(var specialty in @Model["stylistSpecialties"])
  {
    <li>@specialty.GetSpecialty()</li>
  }
  </ul>
}


<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='get'>
<button type="submit">Add a new client</button>
</form>

<form action='/stylists/@Model["stylist"].GetId()/clients/deleteall' method='post'>
<button type="submit">Delete all clients</button>
</form>

<form action='/stylists/@Model["stylist"].GetId()/edit' method='get'>
<button type="submit">Edit this stylist</button>
</form>

<form action='/stylists/@Model["stylist"].GetId()/delete' method='post'>
<button type="submit">Delete this stylist</button>
</form>

<form action='/' method='get'>
<button type="submit">Home</button>
</form>
